body {
  margin-top: 20px !important;
  text-align : center;
  background-color : @anonfake_bg_grey !important;
  .text, .subtext, a {
    color : white;
  }
  .btn {
    padding: 14px 24px;
    border: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .btn-primary {
    background-color: @anonfake_btn_grey;
    color: @white-color;
  }
} /* body */
