.home {
  .upload_btn {
    font-weight: bold;
    margin-top: 11px;
  } /* .upload_btn */
  
  .upload_form {
    display: none;
  } /* .upload_form */
  
  .homepage_text {
    margin-top: 36px;
    line-height: 30px;
    .subtext {
      font-size: 12px;
      margin-top: 1px;
      a {
        text-decoration: underline;
      }
    } /* .subtext */
  } /* .homepage_text */
} /* .home */
