.register {
  .warning-btn {
    margin-bottom: 20px !important;
    margin: auto;
    width: 555px;
    max-width: 95%;
    background-image: -webkit-linear-gradient(top,@anonfake_yellow_light 0,@anonfake_yellow 100%);
    background-image: -o-linear-gradient(top,@anonfake_yellow_light 0,@anonfake_yellow 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(@anonfake_yellow_light),to(@anonfake_yellow));
    background-image: linear-gradient(to bottom,@anonfake_yellow_light 0,@anonfake_yellow 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@anonfake_yellow_light', endColorstr='@anonfake_yellow', GradientType=0);
    background-repeat: repeat-x;
    border-color: #f5e79e;
  } /* .warning-btn */
} /* .register */
